*{
    list-style: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #0F0617;

}
navbar{
    margin: auto;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
#logo{
    height: 100%;
    margin-right: 40px;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
}
#listpart li,#searchpart li{
    display: inline-flex;
    padding: 5px;
    margin: auto;
    margin: 10px;
   
}
#listpart a,#listpart ul li a{
    color: white;
    text-decoration: none;
    
}
#listpart  a :hover{
    padding : 10px;
    
}
#searchpart button{
    color: white;
    padding: 7px ;
    border: 1px solid white;
    border-radius: 5px;
    
}
#listpart{
    display: flex;
}
#searchpart input{
    background-color: aliceblue;
    padding: 10px 60px;
    border-radius: 15px;
    color: aliceblue;
}
#buyplan{
    background-color: blueviolet;
    border: 0px solid #0F0617;
    cursor: pointer;
}
#Loginbutton{
    cursor: pointer;
}