#slideshow{
    display: flex;
    margin: auto;
    width: 1200px;
    height: 500px;
    margin-top: 35px;
    justify-content: space-evenly;
   
}
#slideshowimage{
    width: 100%;
}
#slideshow button{
    display: block;
    border: 0px 
}
